{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "no-var": "off",
    "new-cap": ["error", {
      "capIsNewExceptions": ["Polymer"]
    }],
    "comma-dangle": ["error", "never"],
    "space-before-function-paren": ["error", {
      "named": "always"
    }],
    "max-len": ["error", 500],
    "camelcase": [2, {
      "properties": "never"
    }]
  },
  "globals": {
    "Polymer": true
  }
}
